.start_buttons {
    font-size: 2rem;
    font-family: $game_titles;
    letter-spacing: .2rem;
    text-transform: uppercase;

    padding: 1.2rem;
    margin: 2.2rem;

    border-radius: 1rem;
    border: .2rem solid $yellow_color;
    background-color: inherit;

    color: #010101;

    &:hover {
        background-color: $yellow_color;
        cursor: pointer;
    }
}